

<div>
    <h1 style="height: 1rem;background-color: red;"></h1>
    <div class="container-fluid p-3">
        <div>
            <label for="search_name">{{message}}</label>
            <input type="text" name="search_name" id="search_name" ng-model="search_name">
        </div>
        <br>
        <table class="table table-borderless table-hover container-fluid" id="search_table" style="display: none;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Joining Date</th>
                </tr>
            </thead>
            <tbody ng-repeat="emp in employees | filter: search_name">
                <tr>
                    <td>{{emp.emp_id}}</td>
                    <td>{{emp.emp_firstname}} {{emp.emp_lastname}}</td>
                    <td>{{emp.emp_email}}</td>
                    <td>{{emp.emp_phone}}</td>
                    <td>{{emp.emp_address}}</td>
                    <td>{{emp.emp_joiningdate}}</td>
                    <td><span class='material-icons' ng-click="updateEmp(emp)">edit</span></td>
                    <td><span class='material-icons' ng-click="removeEmp(emp.emp_id, emp.emp_firstname)">delete</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>